<div class="s-404__wrap">
	<a class="s-404__logo" href="/" rel="home">
		<img src="/{{ active_theme_path() ~ '/assets/images/logo_small_dark.svg' }}" alt="logo-small">
	</a>
	<h1 class="s-404__title">
		<span class="s-404__title-1">4</span>
		<span class="s-404__title-2">0</span>
		<span class="s-404__title-3">4</span>
	</h1>
	<div class="s-404__text">{{ 'Looks like you are lost! ' | t }}</div>
	<a href="/" class="s-404__btn"></span>{{'Back to homepage' | t }}</a>
</div>{# /.layout-container #}
