<div class="s-login-wrap">
	<a class="s-login-logo" href="/" rel="home" tooltip="{{ 'Back to Homepage' | t }}">
		<img src="/{{ active_theme_path() ~ '/assets/images/logo_small_dark.svg' }}" alt="logo-small">
	</a>
	<div class="s-login-box">
		{{ page.content }}
	</div>
</div>{# /.layout-container #}
