@keyframes puff-in-center {
	0% {
		transform: scale(0.5);
		filter: blur(2px);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes puff-in-middle {
	0% {
		transform: scale(1.4);
		filter: blur(2px);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		filter: blur(0px);
		opacity: 1;
	}
}

// 404 / 403 floating animation
@keyframes float {
	0% {
		transform: rotate(-1deg) translate(0, 0);
	}

	100% {
		transform: rotate(-7deg) translate(10%, 10%);
	}
}

@keyframes float-2 {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(10%);
	}
}

@keyframes float-3 {
	0% {
		transform: rotate(-4deg) translateY(0);
	}

	100% {
		transform: rotate(10deg) translateY(-10%);
	}
}
