@font-face {
	font-family: "fonticons";
	src: url('../../assets/icons/fonticons.woff2') format('woff2'), url('../../assets/icons/fonticons.woff') format('woff'), url('../../assets/icons/fonticons.ttf') format('truetype');;
}

@mixin font-styles {
	font-family: "fonticons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == chevron-right {
		$char: "\E001";
	}
	@if $filename == happy {
		$char: "\E002";
	}
	@if $filename == left-arrow {
		$char: "\E003";
	}
	@if $filename == lock {
		$char: "\E004";
	}
	@if $filename == plus-circle {
		$char: "\E005";
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-chevron-right {
	@include font(chevron-right);
}
.font-happy {
	@include font(happy);
}
.font-left-arrow {
	@include font(left-arrow);
}
.font-lock {
	@include font(lock);
}
.font-plus-circle {
	@include font(plus-circle);
}
