///* ========================================================================
//   #BREAKPOINTS
//   ======================================================================== */

// This settings contain breakpoints for media-query mixin (tools/_tools.media-query.scss)

$phone: 640;
$tablet: 992;
$lap-small: 1250;
$lap-large: 1400;
