///* ========================================================================
//   #404/403
//   ======================================================================== */
.page-page-404,
.page-page-403 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
}

.s-404__logo {
	display: inline-block;
	animation: puff-in-middle 0.35s cubic-bezier(0.47, 0, 0.745, 0.715) both 1.5s;

	&:hover {
		img {
			transform: scale(1.05);
		}
	}

	img {
		width: 100px;
		transition: transform 0.2s ease-in-out;
	}
}

.s-404__title {
	animation: puff-in-middle 0.35s cubic-bezier(0.47, 0, 0.745, 0.715) both .5s;

	span {
		font-size: 250px;
		line-height: 1;
		color: $iron;
		display: inline-block;
		position: relative;
		margin: 0 10px;
		text-shadow: 2px 3px 10px rgb(211, 211, 212);

		@include mq($tablet) {
			font-size: 200px;
		}

		@include mq($phone) {
			font-size: 125px;
		}
	}

	&-1 {
		transform: rotate(-7deg);
		animation: 5s float ease-in-out infinite alternate-reverse 0.5s;
	}

	&-2 {
		transform: translateY(10%);
		animation: 5s float-2 ease-in-out infinite alternate-reverse 0.5s;
	}

	&-3 {
		transform: rotate(10deg);
		animation: 5s float-3 ease-in-out infinite alternate-reverse 0.5s;
	}
}

.s-404__title-icon {
	font-size: 62px;
	color: $iron;
	@include center;

	@include mq($tablet) {
		font-size: 55px;
	}

	@include mq($phone) {
		font-size: 40px;
	}
}

.s-404__text {
	font-size: 40px;
	line-height: 1.1;
	color: $mine-shaft;
	letter-spacing: 1px;
	animation: puff-in-middle 0.35s cubic-bezier(0.47, 0, 0.745, 0.715) both .8s;
	margin-top: 40px;

	@include mq($phone) {
		margin-top: 25px;
		font-size: 30px;
	}
}

.s-404__btn {
	font-size: 17px;
	color: $white;
	background-color: $mine-shaft;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	margin-top: 35px;
	padding: 8px 35px;
	min-width: 180px;
	border: 2px solid $mine-shaft;
	border-radius: 30px;
	transition: 0.2s ease-in-out;
	animation: puff-in-middle 0.35s cubic-bezier(0.47, 0, 0.745, 0.715) both 1s;

	&:hover {
		color: $mine-shaft;
		background-color: $white;
	}

	@include mq($tablet) {
		font-size: 16px;
		padding: 5px 20px;
		margin-top: 25px;
	}
}
