///* ========================================================================
//   #USER LOGIN / RESET PASS
//   ======================================================================== */
.page-user-login,
.page-user-password {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 35px 15px;
}

.s-login-wrap {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding: 100px 30px 50px;
	box-shadow: 0 1px 30px 10px rgba(160, 160, 160, 0.15);
	border-radius: 5px;
	background-color: $white;
	position: relative;
	animation: puff-in-middle 0.35s cubic-bezier(0.47, 0, 0.745, 0.715) both .4s;

	[id='block-drupal-starter-local-tasks'] {
		display: none;
	}

	[id='block-drupal-starter-page-title'] {
		margin-bottom: 30px;

		h1 {
			font-size: 28px;
			line-height: 1.1;
			text-align: center;
		}
	}
}

.s-login-box {
	input:not(.button) {
		font-size: 15px;
		font-weight: 300;
		padding: 8px;
		border: 1px solid transparent;
		border-bottom: 1px solid $black;
		width: 100%;
		margin-bottom: 20px;
		transition: border-radius 0.25s ease-in-out, border 0.15s ease-in-out, padding 0.25s ease-in-out;

		@include placeholder {
			font-size: 15px;
			color: $boulder;
		}

		&:invalid {
			background-color: $white;
		}

		&:focus {
			border: 1px solid $black;
			border-radius: 30px;
			padding: 8px 15px;
			transition: background-color 5000s ease-in-out 0s, border-radius 0.25s ease-in-out, border 0.15s ease-in-out, padding 0.25s ease-in-out;
		}

		// Remove autofill color from imputs on Chrome
		// sass-lint:disable no-vendor-prefixes
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			border: 1px solid $black;
			border-radius: 30px;
			padding: 8px 15px;
			transition: background-color 5000s ease-in-out 0s, border-radius 0.25s ease-in-out, border 0.15s ease-in-out, padding 0.25s ease-in-out;
		}
	}

	.form-actions {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
	}

	.button {
		color: $white;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 7px 10px;
		display: block;
		min-width: 180px;
		border-radius: 30px;
		border: 2px solid $black;
		background-color: $black;
		transition: 0.2s ease-in-out;
		margin-bottom: 20px;

		&:hover {
			color: $black;
			background-color: $white;
		}
	}

	p {
		font-size: 14px;
		line-height: 1.1;
		text-align: center;
		color: $boulder;
	}
}

.s-login-reset-pass {
	font-size: 15px;
	letter-spacing: 0.3px;
	color: $boulder;
	text-transform: capitalize;
	transition: 0.2s ease-in-out;
	position: relative;

	&::after {
		content: '';
		@include center(x, absolute);
		width: 0;
		height: 1px;
		background-color: $black;
		bottom: 0;
		transition: 0.2s ease-in-out;
	}

	&:hover {
		letter-spacing: 1px;
		color: $black;

		&::after {
			width: 100%;
		}
	}
}

.s-login-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 1;
	transform: translate(-50%, -50%);
	background-color: $white;
	box-shadow: 0 1px 30px 10px rgba(160, 160, 160, 0.1);
	transition: transform 0.1s ease-in-out;

	&::before {
		content: attr(tooltip);
		color: $boulder;
		display: block;
		width: 100vw;
		max-width: 300px;
		position: absolute;
		bottom: 0;
		text-align: center;
		font-size: 14px;
		pointer-events: none;
		letter-spacing: -0.5em;
		opacity: 0;
		transform: translateY(15px);
		filter: blur(10px);
		transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-delay: 0.1s;
	}

	&:hover {
		transform: scale(1.05) translate(-48%, -48%);

		&::before {
			transform: translateY(25px);
			letter-spacing: 0;
			opacity: 1;
			filter: blur(0);
			transition-delay: 0.3s;
		}
	}

	img {
		width: 65%;
		animation: puff-in-center 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both 1s;
	}
}
