///* ========================================================================
//   #COLORS
//   ======================================================================== */

// This settings contain color variables

$white: #fff;
$black: #000;
$boulder: #7c7c7c;
$iron: #d3d3d4;
$mine-shaft: #333;


$color-main: $black;
