/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.c-footer {
	padding: 25px 0;
	background-color: $black;
}

.c-copyright {
	text-align: center;
	color: $white;
}
