{
	"extends": "airbnb-base",
	"rules": {
		"no-unused-vars": [
			"error",
			{
				"varsIgnorePattern": "console"
			}
		],
		"parserOptions": {
			"ecmaVersion": 2017
		},
		"env": {
			"es6": true
		}
	}
}
