/* ==========================================================================
   #HEADINGS
   ========================================================================== */
//example title
.e-title-section {
	font-size: 35px;
	font-weight: 700;
	color: $black;
	margin-bottom: 25px;

	&.center {
		text-align: center;
	}
}
